@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: oklch(0.15 0.071 263);
    --foreground: oklch(1 0 0);
    --card: oklch(0.22 0.094 261 / 0.6);
    --card-foreground: oklch(1 0 0);
    --popover: oklch(0.22 0.094 261);
    --popover-foreground: oklch(1 0 0);
    --primary: oklch(0.809 0.105 251.813);
    --primary-foreground: oklch(0.22 0.094 261);
    --secondary: oklch(1 0 0 / 0.1);
    --secondary-foreground: oklch(1 0 0);
    --muted: oklch(0.28 0.114 260);
    --muted-foreground: oklch(0.97 0.021 227 / 0.7);
    --accent: oklch(0.28 0.114 260);
    --accent-foreground: oklch(1 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 0.125);
    --input: oklch(1 0 0 / 0.2);
    --ring: oklch(0.809 0.105 251.813);
    --chart-1: oklch(0.809 0.105 251.813);
    --chart-2: oklch(0.623 0.214 259.815);
    --chart-3: oklch(0.871 0.15 154.449);
    --chart-4: oklch(0.852 0.199 91.936);
    --chart-5: oklch(0.685 0.169 237.323);
    --sidebar: oklch(0.15 0.071 263);
    --sidebar-foreground: oklch(1 0 0);
    --sidebar-primary: oklch(1 0 0 / 0.85);
    --sidebar-primary-foreground: oklch(0 0 0 / 0.85);
    --sidebar-accent: oklch(1 0 0 / 0.1);
    --sidebar-accent-foreground: oklch(1 0 0);
    --sidebar-border: oklch(1 0 0 / 0.125);
    --sidebar-ring: oklch(0.546 0.245 262.881);
    --radius: 0.625rem;
    --font-sans: 'Instrument Sans', sans-serif;
    --font-serif: 'Playfair Display', serif;
    --primary-light: oklch(0.882 0.059 254.128);
    --primary-dark: oklch(0.809 0.105 251.813);
    --primary-ring: oklch(0.707 0.165 254.624);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}