@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 1 0 0;
    --foreground: 0.1 0 0;
    --card: 1 0 0;
    --card-foreground: 0.1 0 0;
    --popover: 1 0 0;
    --popover-foreground: 0.1 0 0;
    --primary: 0.1 0 0;
    --primary-foreground: 0.98 0 0;
    --secondary: 0.96 0 0;
    --secondary-foreground: 0.1 0 0;
    --muted: 0.96 0 0;
    --muted-foreground: 0.45 0 0;
    --accent: 0.96 0 0;
    --accent-foreground: 0.1 0 0;
    --destructive: 0.6 0.2 27;
    --destructive-foreground: 0.98 0 0;
    --border: 0.9 0 0;
    --input: 0.9 0 0;
    --ring: 0.1 0 0;
    --chart-1: 0.6 0.18 29;
    --chart-2: 0.4 0.11 180;
    --chart-3: 0.3 0.05 200;
    --chart-4: 0.7 0.12 90;
    --chart-5: 0.7 0.15 50;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0.15 0.071 263;
    --foreground: 1 0 0;
    --card: 0.22 0.094 261;
    --card-foreground: 1 0 0;
    --popover: 0.22 0.094 261;
    --popover-foreground: 1 0 0;
    --primary: 0.809 0.105 251.813;
    --primary-foreground: 0.22 0.094 261;
    --secondary: 1 0 0;
    --secondary-foreground: 1 0 0;
    --muted: 0.28 0.114 260;
    --muted-foreground: 0.97 0.021 227;
    --accent: 0.28 0.114 260;
    --accent-foreground: 1 0 0;
    --destructive: 0.577 0.245 27.325;
    --destructive-foreground: 0.704 0.191 22.216;
    --border: 1 0 0;
    --input: 1 0 0;
    --ring: 0.809 0.105 251.813;
    --chart-1: 0.809 0.105 251.813;
    --chart-2: 0.623 0.214 259.815;
    --chart-3: 0.871 0.15 154.449;
    --chart-4: 0.852 0.199 91.936;
    --chart-5: 0.685 0.169 237.323;
    --sidebar: 0.15 0.071 263;
    --sidebar-foreground: 1 0 0;
    --sidebar-primary: 1 0 0;
    --sidebar-primary-foreground: 0 0 0;
    --sidebar-accent: 1 0 0;
    --sidebar-accent-foreground: 1 0 0;
    --sidebar-border: 1 0 0;
    --sidebar-ring: 0.546 0.245 262.881;
    --radius: 0.625rem;
    --font-sans: 'Instrument Sans', sans-serif;
    --font-serif: 'Playfair Display', serif;
    --primary-light: 0.882 0.059 254.128;
    --primary-dark: 0.809 0.105 251.813;
    --primary-ring: 0.707 0.165 254.624;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: oklch(var(--muted-foreground) / 0.2);
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: oklch(var(--muted-foreground) / 0.3);
  }
}